.draggable {
  width: 100px;
  height: 50px;
  cursor: grab;
  color: white;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
  font-weight: 900;
  border: 1px solid black;
}

.droppable {
  width: 300px;
  height: 300px;
  background-color: #e0e0e0;
  border: 2px dashed #ccc;
  margin-top: 20px;
  cursor: pointer;
}

#draggable-list {
  min-height: 24vh;
  width: 118px;
  box-sizing: border-box;
}

#add-item-btn {
  width: 100px;
  color: white;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
  font-weight: 900;
}

.drag-active {
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 5%,
    #28a745 5%,
    #28a745 10%
  );
  animation: barberpole 3s linear infinite;
  background-size: 118px 118px;
}
.drag-active .draggable {
  opacity: 0.9;
}

@keyframes barberpole {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 118px 0px;
  }
}
